/* Universal */
body {
    font-family: "Montserrat";
    padding: 2% 5%;
}


/* Login Page */
#login {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(84,160,255,1) 35%, rgba(0,212,255,1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#login h1, h3{
    text-align: center;
    color: white;
    font-size: 7vw;
}

#login h3 {
    font-size: 2vw;
    font-weight: 400;
}

